<h1>about<em>me</em></h1>

<div class = "smallcontent">
	<div class = "work">
		<a href = "/work"><h6>my<em>work</em></h6></a>
	</div>
	<div class = "resume">
		<h6><a href ="/KaileyIzardResume.pdf">my<em>resume</em></a></h6>
	</div>
	<div class = "home">
		<a href = "/home"><h6>back<em>home</em></h6></a>
	</div>
</div>
