<h1>about<em>me</em></h1>
<h2>I am a front and back end designer located in Charlotte, North Carolina. Programming became my passion the day 3 hours went by and I hardly noticed because I was so enthralled by the world of code. I love creating and building something few understand, but everyone needs.Coding is not just about nerding out, but building something. In so many ways it can help, inspire, and make lives easier. I specialize in Ruby on Rails, HTML5, CSS3, and JavaScript. Please email or call at your leisure! </h2>

<h2>Also enjoy amateur photography, coloring books, and anything outdoors.</h2>

<div class = "smallcontent">
	<div class = "work">
		<a href = "/work"><h6>my<em>work</em></h6></a>
	</div>
	<div class = "resume">
		<h6><a href ="/KaileyIzardResume.pdf">my<em>resume</em></a></h6>
	</div>
	<div class = "home">
		<a href = "/home"><h6>back<em>home</em></h6></a>
	</div>
</div>
