<h1>kailey<em>izard</em></h1>
<h2>front & back end developer<br><address><a href = 'mailto:kailey.izard@gmail.com'>kailey.izard@gmail.com</a></address><br>704.564.0404</h2>

<div class = "content">
	<div class = "websites">completed<em>websites</em></div>
	<div class = "about">about<em>me</em></div>
	<div class = "contact">contact<em>me</em></div>
</div>