<h1>kailey<em>izard</em></h1>
<h2>front & back end developer<br><address><a href = 'mailto:kailey.izard@gmail.com'>kailey.izard@gmail.com</a></address>704.564.0404</h2>

<table>
<tbody>
	<tr>
<div class = "content">
	<div class = "websites">
		<h6>completed<em>websites</em></h6>
	</div>
	<div class = "about">
		<h6>about<em>me</em></h6>
	</div>
	<div class = "contact">
		<h6>contact<em>me</em></h6>
	</div>

</div>
</tr>
</tbody>
</table>