<div class = 'logo'></div>
<div id = "bubble"></div>
<h1>kailey<em>izard</em></h1>
<h2>front & back end developer<br><address><a href = 'mailto:kailey.izard@gmail.com'>kailey.izard@gmail.com</a></address>704.564.0404</h2>

<div class = "content">
	<div class = "about">
		<a href = "/about"><h6>about<em>me</em></h6></a>
	</div>
	<div class = "work">
		<a href = "/work"><h6>my<em>work</em></h6></a>
	</div>

	<div class = "resume">
		<h6>
			<a href ="/KaileyIzardResume.pdf">my<em>resume</em></a>
		</h6>
	</div>
</div>

