<h1>kailey izard</h1>
<h4>front & back end developer<br><a href ="kailey.izard@gmail.com">kailey.izard@gmail.com</a><br>704.564.0404</h4>

<div class = "websites">completed<em>websites</em></div>
<div class = "about">about<em>me</em></div>
<div class = "contact">contact<em>me</em></div>