<h1>my<em>work</em></h1>
<div id="columns">
	<div class = "quietgood">
		<div class = "worklink">
			<p>
				<a href='http://quietgood.org'>quiet<b>good</b>.org
				</a>
			</p>
		</div>
		<div class = "workpic">
			<a href ='http://quietgood.org'>
				<%=image_tag('Quietgood.png', :width=>"100%") %>
			</a>
		</div>
	</div>
</div>
<div class = "smallcontent">
	<div class = "about">
		<a href = "/about"><h6>about<em>me</em></h6></a>
	</div>
	<div class = "resume">
		<h6><a href ="/KaileyIzardResume.pdf">my<em>resume</em></a></h6>
	</div>
	<div class = "work">
		<a href = "/home"><h6>back<em>home</em></h6></a>
	</div>
</div>