<h1>my<em>work</em></h1>
<div id="columns">
	<div class = "quietgood">
		<div class = "worklink">
			<h3>
				<a href='http://quietgood.org'>QuietGood.org
				</a>
			</h3>
		</div>
		<a href ='http://quietgood.org'>
			<%=image_tag('Quietgood.png', :width=>"100%") %>
		</a>
	</div>
	<div class = "pinteresting">
		<div class = "worklink">
			<h3>
				<a href='http://pinteresting-ki.herokuapp.com'>pinteresting-ki.herokuapp.com
				</a>
			</h3>
		</div>
		<a href ='http://pinteresting-ki.herokuapp.com'>
			<%=image_tag('pinteresting-ki.png', :width=>"100%") %>
		</a>
	</div>
</div>
<div class = "smallcontent">
	<div class = "about">
		<a href = "/about"><h6>about<em>me</em></h6></a>
	</div>
	<div class = "resume">
		<h6><a href ="/KaileyIzardResume.pdf">my<em>resume</em></a></h6>
	</div>
	<div class = "work">
		<a href = "/home"><h6>back<em>home</em></h6></a>
	</div>
</div>