/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 18, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
body {
  text-align: center;
  font-family: Georgia;
  background-image: url("avocado.jpeg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/* line 26, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
h1, h2 {
  color: white;
  text-shadow: 2px 2px 2px gray;
  font-weight: normal;
}

/* line 31, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
address a, .resume a, .work a, .quietgood a, .about a, .home a {
  text-decoration: none;
  color: white;
}

/* line 35, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
address a:hover {
  font-weight: bold;
}

/* line 38, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
div.content {
  display: inline-flex;
  color: white;
}

/* line 42, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.work, .contact, .about, .resume {
  height: 200px;
  width: 200px;
  opacity: 0.7;
}

/* line 47, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.work:hover, .contact:hover, .about:hover, .resume:hover, .quietgood:hover {
  opacity: 1;
}

/* line 50, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
h6 {
  text-align: 50%;
  font-size: 24px;
}

/* line 55, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.work {
  background-color: aquamarine;
}

/* line 59, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.work:hover {
  background-color: mediumseagreen;
}

/* line 62, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.contact {
  background-color: salmon;
}

/* line 66, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.contact:hover {
  background-color: palevioletred;
}

/* line 69, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.about {
  background-color: yellow;
}

/* line 72, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.about:hover {
  background-color: orange;
}

/* line 75, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.resume {
  background-color: plum;
}

/* line 78, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.resume:hover {
  background-color: mediumorchid;
}

/*.quietgood{
	background-color: white;
	height: 200px;
	width:60%;
	opacity: 0.7;
	margin-right: auto;
	margin-left: auto;
	text-shadow:2px 2px 2px;

}*/
/* line 91, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.workpic {
  width: 100%;
  height: auto;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

/* line 98, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.quietgood {
  background-color: white;
  box-shadow: 0 5px 5px #888888;
  margin: 0 2px 15px;
  /*	transition: opacity: .4s ease-in-out;
  	column-break-inside: avoid;*/
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  padding-top: 15px;
}

/* line 109, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.quietgood:not(:hover) {
  opacity: 0.7;
  /* makes it a little clearer when hover over it*/
}

/* line 113, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.quietgood :hover {
  background-color: transparent;
  text-decoration: none;
  color: #000066;
}

/* line 119, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
#columns {
  font-family: Georgia;
  text-align: center;
  column-width: 200px;
  column-gap: 15px;
  column-count: 8;
  column-fill: auto;
  -webkit-column-gap: 15px;
  -webkit-column-count: 8;
  -webkit-column-fill: auto;
  -webkit-column-width: 200px;
  width: 90%;
  max-width: 1100px;
  margin: 50px auto;
  -moz-column-gap: 15px;
  -moz-column-count: 8;
  -moz-column-fill: auto;
  -moz-column-width: 200px;
}

/*.quietgood a{
	float:left;
	font-size: 30px;
	position: relative;
	color:lightgray;

}
.quietgood img {

	height:auto;
	width:auto;
	position:fixed;

}
.worklink{
	display: inline-block;
	text-align: center;
}
*/
/* line 156, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.smallcontent {
  display: inline-flex;
  color: white;
  margin-top: 300px;
}

/* line 161, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.smallcontent div {
  height: 100px;
  width: 100px;
}

/* line 165, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.smallcontent h6 {
  font-size: 15px;
}

/* line 168, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.home {
  background-color: yellow;
}

/* line 171, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.home:hover {
  background-color: orange;
}

/* Push */
@media only screen and (max-width: 1000px) {
  /* line 177, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
  body {
    background-size: 1000px auto;
  }

  /* line 180, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
  .content div {
    height: 150px;
    width: 150px;
  }
}
@media only screen and (max-width: 624px) {
  /* line 186, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
  div.content {
    display: inline-block;
  }

  /* line 189, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
  .content div {
    height: 200px;
    width: 200px;
  }

  /* line 193, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
  body {
    background-size: 1500px auto;
  }

  /* line 196, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
  .quietgood img {
    height: 175px;
    width: auto;
    float: right;
  }
}
@media only handheld {
  /* line 203, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
  div.content {
    display: inline-block;
  }

  /* line 206, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
  .content div {
    height: 200px;
    width: 200px;
  }

  /* line 210, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
  body {
    background-size: 1000px auto;
  }

  /* line 213, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
  .quietgood img {
    height: 175px;
    width: auto;
    float: right;
  }
}
