/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 18, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
body {
  text-align: center;
  font-family: Georgia;
  background-image: url("avocado.jpeg");
  background-size: 1500px auto;
  background-repeat: no-repeat;
}

/* line 25, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
h1 {
  font-size: 3em;
}

/* line 28, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
h1, h2 {
  color: white;
  text-shadow: 2px 2px 2px gray;
  font-weight: normal;
}

/* line 33, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
address a, .resume a, .work a, .quietgood a, .about a, .home a {
  text-decoration: none;
  color: white;
}

/* line 37, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
address a:hover {
  font-weight: bold;
}

/* line 40, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
div.content {
  display: inline-flex;
  color: white;
}

/* line 44, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.work, .contact, .about, .resume {
  height: 200px;
  width: 200px;
  opacity: 0.7;
}

/* line 49, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.work:hover, .contact:hover, .about:hover, .resume:hover, .quietgood:hover {
  opacity: 1;
}

/* line 53, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.work {
  background-color: aquamarine;
}

/* line 57, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.work:hover {
  background-color: mediumseagreen;
}

/* line 60, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.contact {
  background-color: salmon;
}

/* line 64, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.contact:hover {
  background-color: palevioletred;
}

/* line 67, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.about {
  background-color: yellow;
}

/* line 70, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.about:hover {
  background-color: orange;
}

/* line 73, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.resume {
  background-color: plum;
}

/* line 76, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.resume:hover {
  background-color: mediumorchid;
}

/* line 80, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.quietgood {
  background-color: white;
  box-shadow: 0 5px 5px #888888;
  margin: 0 2px 15px;
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  padding-top: 15px;
}

/* line 89, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.quietgood:not(:hover) {
  opacity: 0.7;
  /* makes it a little clearer when hover over it*/
}

/* line 93, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.quietgood :hover {
  background-color: transparent;
  text-decoration: none;
  color: #000066;
}

/* line 99, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.worklink a {
  color: gray;
}

/* line 102, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.worklink a:hover {
  color: gray;
  text-shadow: 2px 2px 2px black;
}

/* line 106, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
#columns {
  font-family: Georgia;
  text-align: center;
  -webkit-column-gap: 15px;
  -webkit-column-count: 2;
  -webkit-column-width: 200px;
  width: 90%;
  max-width: 1100px;
  margin: 50px auto;
  -moz-column-gap: 15px;
  -moz-column-count: 2;
  -moz-column-fill: auto;
  -moz-column-width: 200px;
}

/* line 120, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.smallcontent {
  display: inline-flex;
  color: white;
  margin-top: 300px;
}

/* line 125, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.smallcontent div {
  height: 100px;
  width: 100px;
}

/* line 129, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.smallcontent h6 {
  font-size: 18px;
  text-shadow: 2px 1px 2px black;
  font-weight: normal;
}

/* line 134, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.home {
  background-color: yellow;
}

/* line 137, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
.home:hover {
  background-color: orange;
}

/* Push */
@media only screen and (max-width: 1000px) {
  /* line 143, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
  body {
    background-size: 1500px auto;
  }

  /* line 146, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
  .content div {
    height: 150px;
    width: 150px;
  }
}
@media only screen and (max-width: 624px) {
  /* line 152, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
  div.content {
    display: inline-block;
  }

  /* line 155, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
  .content div {
    height: 200px;
    width: 200px;
  }

  /* line 159, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
  body {
    background-size: 1000px auto;
  }

  /* line 162, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
  .quietgood img {
    height: auto;
    width: 100%;
    float: right;
  }
}
@media only handheld {
  /* line 169, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
  div.content {
    display: inline-block;
  }

  /* line 172, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
  .content div {
    height: 200px;
    width: 200px;
  }

  /* line 176, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
  body {
    background-size: 1000px auto;
  }

  /* line 179, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
  .quietgood img {
    height: auto;
    width: 100%;
    float: right;
  }

  /* line 184, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
  div.smallcontent {
    display: inline-flex;
  }

  /* line 187, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
  .smallcontent a {
    font-size: 26px;
    text-shadow: 2px 2px 2px black;
  }

  /* line 191, /Users/Charlie/workspace/KaileyIZard/app/assets/stylesheets/application.css.scss */
  .smallcontent h6 {
    font-size: 20px;
  }
}
