/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.worklink{
	display: inline-block;
	text-align: center;

}
 body {
 	text-align: center;
 	font-family: Georgia;
 	background-image: url('avocado.jpeg');
 	background-size: 100% auto;
 	background-repeat: no-repeat;
 }

 h1, h2 {
 	color: white;
 	text-shadow: 2px 2px 2px gray;
 	font-weight: normal;
 }
address a, .resume a, .work a, .quietgood a, .about a, .home a{
 	text-decoration: none;
 	color:white;
 }
address a:hover {
	font-weight: bold;
}
div.content{
	display:inline-flex;
	color:white;
}
.work, .contact, .about, .resume {
	height: 200px;
	width: 200px;
	opacity: 0.7;
}
.work:hover, .contact:hover, .about:hover, .resume:hover, .quietgood:hover {
	opacity: 1;
}
h6 {
	text-align: 50%;
	font-size: 24px;
}

.work {
	background-color: aquamarine;

}
.work:hover {
	background-color: mediumseagreen;
}
.contact {
	background-color: salmon;

}
.contact:hover {
	background-color: palevioletred;
}
.about {
	background-color: yellow;
}
.about:hover{
	background-color: orange;
	}
.resume {
	background-color: plum;
}
.resume:hover{
	background-color: mediumorchid;
	}
.quietgood{
	background-color: white;
	height: 200px;
	width:60%;
	opacity: 0.7;
	margin-right: auto;
	margin-left: auto;
	text-shadow:2px 2px 2px;

}

.quietgood a{
	float:left;
	font-size: 30px;
	position: relative;
	color:lightgray;

}
.quietgood img {

	height:auto;
	width:auto;
	position:fixed;

}
.smallcontent{
	display:inline-flex;
	color:white;
	margin-top: 300px;
}
.smallcontent div{
	height:100px;
	width:100px;
}
.smallcontent h6{
	font-size: 15px;
}
.home {
	background-color: yellow;
}
.home:hover{
	background-color: orange;
	
}
/* Push */
@media only screen and (max-width: 1000px) {
body{
	background-size: 1000px auto;
}
.content div{
	height:150px;
	width:150px;
}
}
@media only screen and (max-width: 624px) {
div.content {
	display:inline-block;
}
.content div{
	height:200px;
	width:200px;
}
body{
	background-size: 1500px auto;
}
.quietgood img {
	height:175px;
	width:auto;
	float:right;
}
}
@media only handheld{
div.content {
	display:inline-block;
}
.content div{
	height:200px;
	width:200px;
}
body{
	background-size: 1000px auto;
	background: url(avocado.jpeg) 200px 0;
}
.quietgood img {
	height:175px;
	width:auto;
	float:right;
}
}